[Unit]
Description=Run SuiteCRM scheduler

[Service]
Type=oneshot
User=suitecrm
Group=suitecrm
WorkingDirectory=/var/www/suitecrm
Environment=LD_PRELOAD=libphpturd.so
Environment=PHPTURD=/usr/share/suitecrm:/var/www/suitecrm
ExecStart=/usr/bin/php -f cron.php

[Install]
WantedBy=multi-user.target
