[Unit]
Description=SuiteCRM %i scheduler

[Service]
Type=oneshot
User=suitecrm
Group=suitecrm
WorkingDirectory=/var/lib/suitecrm/%i
Environment=LD_PRELOAD=libphpturd.so
Environment=PHPTURD=/usr/share/suitecrm/code:/var/lib/suitecrm/%i
ExecStart=/usr/bin/php -f cron.php

[Install]
WantedBy=multi-user.target
